<div class="user-profile-info">
  <h1 class="main-header"> Here are your Lineups!</h1>
  <div class="user-rosters d-flex">
    <div class="hero-profile heroes">
      <h2 class="lineup-subheader">Your Justice League</h2>
      <% @user.bookings.each do |booking| %>
        <% if booking.super.good == true %>
          <div class="d-flex hero-individual">
            <div><%= cl_image_tag booking.super.photo.key, class: "profile-image" %></div>
            <div class="conten-box">
              <h2><%= link_to "#{booking.super.name}", super_path(booking.super_id)%></h2>
              <p class="hero-description"><%= booking.super.description %>
                <br>
                <%= link_to 'Delete', super_booking_path(booking.super, booking), class: "btn btn-warning", method: :delete, data: {confirm: "Are you sure?"} %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="user-center">
      <button type="button" class="btn-super-nav" data-toggle="modal" data-target="#exampleModal">
        FIGHT!
      </button>
    </div>
    <div class="hero-profile villains">
      <h2 class="lineup-subheader-evil">Your Evil Justice League</h2>
      <% @user.bookings.each do |booking| %>
        <% if booking.super.good == false %>
          <div class="d-flex hero-individual">
           <div><%= cl_image_tag booking.super.photo.key, class: "profile-image" %></div>
            <div class="conten-box">
              <h2><%= link_to "#{booking.super.name}", super_path(booking.super_id)%></h2>
              <p class="hero-description"><%= booking.super.description %>
                <br>
                <%= link_to 'Delete', super_booking_path(booking.super, booking), class: "btn btn-warning", method: :delete, data: {confirm: "Are you sure?"} %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= render 'users/fight' %>
      </div>
    </div>
  </div>
</div>


