<h1> View Your Team!</h1>
<div class="d-flex mt-4 mr-5 ml-5">

  <div class="hero-profile">
    <div>
      <% @user.bookings.each do |booking| %>
        <% if booking.super.good == true %>
          <div class="d-flex hero-individual mb-4">
           <div><%= cl_image_tag booking.super.photo.key, class: "profile-image" %>
            </div>
            <div>
              <h2><%= booking.super.name %></h2>
              <p><%= booking.super.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



    <div class="hero-profile">
    <div>
      <% @user.bookings.each do |booking| %>
        <% if booking.super.good == false %>
          <div class="d-flex hero-individual mb-4">
           <div><%= cl_image_tag booking.super.photo.key, class: "profile-image" %>
            </div>
            <div>
              <h2><%= booking.super.name %></h2>
              <p><%= booking.super.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>



























