<div class="row justify-content-center">
  <row class="col-lg-4">
    <%= simple_form_for @super do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.collection_radio_buttons :good, [[true, 'Hero'], [false, 'Villain']], :first, :last %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </row>
</div>
