<div class="container-index">
  <div class="cards">

    <% @supers.each do |superhero| %>
      <% if superhero.photo.attached? %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path superhero.photo.key %>')">
          <div>
            <p class="speech"><%= superhero.quote %></p>
          </div>
          <div class="link-box">
            <%= link_to super_path(superhero.id) do %>
              <h2><%= superhero.name %></h2>
            <% end %>
          </div>

          <%= link_to like_super_path(superhero), class: "like", method: :put do %>
          <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
            <span class="badge"><%= superhero.get_upvotes.size %></span>
          </button>
        <% end %>
        </div>

      <% else %>

        <div class="card-category">
          <div>
            <p class="speech"><%= superhero.quote %></p>
          </div>
          <div class="link-box">
            <%= link_to super_path(superhero.id) do %>
              <h2><%= superhero.name %></h2>
            <% end %>
          </div>

          <%= link_to like_super_path(superhero), class: "like", method: :put do %>
          <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
            <span class="badge"><%= superhero.get_upvotes.size %></span>
          </button>
        <% end %>
        </div>

      <% end %>

    <% end %>
  </div>
</div>

