<div class="container">
  <h1> <%= @super.name %></h1>

  <p><%= @super.location %></p>
  <% if @super.good == true%>
      <p>Hero</p>
    <% else %>
      <p>Villain</p>
    <% end %>

<% if @super.user == current_user %>
  <%= link_to 'Edit', edit_super_path(@super) %> |
  <%= link_to 'Delete', super_path(@super), method: :delete, data: {confirm: "Are you sure?"} %> |
<% end %>
<%= link_to 'Book', new_super_booking_path(@super) %> |
<%= link_to 'Back', supers_path %> |
</div>
