<div class="navbar navbar-expand-sm navbar-light navbar-super-bnb">


  <button class="navbar-toggler btn-super-nav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="nav-item d-flex">
    <%= link_to "New Super!", new_super_path, class: "btn-super-nav" %>
    <%= link_to 'Heroes', supers_path(superhero: true), class: "btn-super-nav" %>
    <%= link_to 'Villains', supers_path(superhero: false), class: "btn-super-nav" %>
  </div>

  <div>
    <h1 class="super-title">Supers!</h1>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <% if user_signed_in? %>

        <div class="nav-item dropdown">
          <%= image_tag "https://avatars2.githubusercontent.com/u/60719853?s=460&u=d6c47e5e47f08a8bd55e0f80c74e9ea86d0c47d8&v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Create New Hero", new_super_path, class: "nav-link" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn-super-nav" %>
        </div>
      <% end %>

  </div>
</div>
